fastapi==0.115.11
uvicorn==0.34.0
pydantic==2.10.6
httpx==0.28.1
pathspec==0.12.1

# used tools for feedback
pytest==8.3.5
pytest-cov==6.0.0
pytest-mock==3.14.0
pytest-json-report==1.5.0
pytest_asyncio==0.25.3

pylint==3.3.3

# outside used tools
black==24.10.0
isort==5.13.2

